<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 650px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Campus Guide</h3>
    <button onclick="myFunction()">Click to Enter Address</button>

  <p id="demo"></p>

  <script>
function myFunction() {
    var address = prompt("Please enter your address", "Address");
    while (address != null) {
        document.getElementById("demo").innerHTML =
        "Is your address " + address + "?";
    }
}
  </script>
  <button onclick="myFun()">Click here to confirm!</button>
  <p id="demo"></p>

  <script>
function myFun() {
    var yes = prompt("Yes or No?", "______");
    if (yes === yes) {
        document.getElementById("demo").innerHTML =
        "Yay";
    }
}
  </script>

    <div id="map"></div>
    <script>
      function initMap() {
        var pullman = {lat: 46.7298, lng: -117.1817};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: pullman
        });
        var marker = new google.maps.Marker({
          position: pullman,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvzUI0_Ju5uEFGSYt8ZhHpFKvth6CNTSA &callback=initMap">
    </script>
  </body>
</html>